.overview {
  margin-bottom: 20px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 20% auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid steelblue;
  border-radius: 10px;
}

h1 {
  color: steelblue;
  font-size: 25px;
  font-weight: 100;
  line-height: 29px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #272044;
  font-size: 15px;
  font-weight: 100;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: red;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  top: -33px;
}

.weather-temperature .active {
  color: #272044;
  cursor: default;
}
.weekly-forecast {
  margin-top: 10px;
}

.daily-forecasts {
  border: 1px solid steelblue;
  border-radius: 10px;
  padding: 15px;
}

.weekly-forecast h3 {
  color: steelblue;
  font-size: 14px;
  font-weight: 375;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weekly-forecast img {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

.forecasted-temps {
  text-align: center;
  color: steelblue;
  font-size: 12px;
  font-weight: 350;
  height: auto;
  line-height: 14px;
  white-space: nowrap;
}

a {
  text-decoration: none;
}
