body {
  background-color: #e9d4c3;
}
.container {
  font-family: "Quicksand", sans-serif;
  height: 50%;
  margin-left: 30px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 12% auto;
  position: relative;
}

.weather-app-wrapper .leaves {
  position: absolute;
  opacity: 0.2;
  width: 600px;
  padding-bottom: 0%;
  height: 344px;
  object-fit: cover;
  border-radius: 10px;
}

.goldenGirl {
  position: absolute;
  padding: 0 500px;
  display: block;
  z-index: -1;
  top: -120px;
}

.weather-app {
  padding: 20px;
  border: 1px solid rgba(17, 54, 47, 0.8);
  border-radius: 10px;
  box-shadow: 2px, 2px, 5px, rgb(0, 0, 0.3);
  backdrop-filter: blur(3px);
}

.overview {
  margin-bottom: 20px;
}
h1 {
  color: #763626;
  font-size: 25px;
  font-weight: 100;
  line-height: 29px;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgba(17, 54, 47);
  font-size: 15px;
  font-weight: 100;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgba(17, 54, 47);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  top: -33px;
}

.weather-temperature .active {
  color: rgba(17, 54, 47);
  cursor: default;
}
.weekly-forecast {
  margin-top: 10px;
}

.daily-forecasts {
  border: 1px solid #763626;
  border-radius: 10px;
  padding: 15px;
}

.weekly-forecast h3 {
  color: #763626;
  font-size: 14px;
  font-weight: 375;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weekly-forecast img {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

.forecasted-temps {
  text-align: center;
  color: #763626;
  font-size: 12px;
  font-weight: 350;
  height: auto;
  line-height: 14px;
  white-space: nowrap;
}
.btn {
  background-color: rgba(17, 54, 47);
  color: rgba(155, 171, 132);
  border: none;
  outline: none;
  transition: all 200ms ease;
}
.btn:hover {
  background-color: rgba(155, 171, 132);
  color: rgba(17, 54, 47);
}
a {
  text-decoration: none;
  color: rgba(155, 171, 132);
  transition: all 200ms ease;
}
a:hover {
  color: #763626;
}
